<a href="https://colab.research.google.com/github/Nutsudapenpong/DPDM/blob/master/Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
# connect with google drive
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os

In [15]:
data = pd.read_csv(os.path.join(path, 'reduced_marketbasket.csv'), encoding='latin1') #มีอักษร latin ในไฟล์เลยต้องเพิ่ม encoding latin1
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [22]:
data.groupby('InvoiceNo').count()

           StockCode  Description  Quantity  ...  UnitPrice  CustomerID  Country
InvoiceNo                                    ...
536365             7            7         7  ...          7           7        7
536366             2            2         2  ...          2           2        2
536367            12           12        12  ...         12          12       12
536368             4            4         4  ...          4           4        4
536369             1            1         1  ...          1           1        1
...              ...          ...       ...  ...        ...         ...      ...
C581484            1            1         1  ...          1           1        1
C581490            2            2         2  ...          2           2        2
C581499            1            1         1  ...          1           1        1
C581568            1            1         1  ...          1           1        1
C581569            2            2         2  ...          2           2        2

[25900 rows x 7 columns]

In [21]:
data.groupby('InvoiceNo').sum()

           Quantity  UnitPrice  CustomerID
InvoiceNo
536365           40      27.37    124950.0
536366           12       3.70     35700.0
536367           83      58.24    156564.0
536368           15      19.10     52188.0
536369            3       5.95     13047.0
...             ...        ...         ...
C581484      -80995       2.08     16446.0
C581490         -23       2.78     28794.0
C581499          -1     224.69     15498.0
C581568          -5      10.95     15311.0
C581569          -6       2.50     34630.0

[25900 rows x 3 columns]

In [24]:
transacs = data.groupby('InvoiceNo')['StockCode'].apply(list) #เอามาใส่ใน list โดยไม่ sum หรือ count
transacs

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object