<a href="https://colab.research.google.com/github/Nutsudapenpong/DPDM/blob/master/HRR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas

In [36]:
import pandas as pd

In [37]:
from google.colab import drive

In [38]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
import os

In [40]:
base_path = '/content/drive/My Drive/DM_Exam2020'

In [41]:
os.listdir(base_path)

['reduced_marketbasket (2).csv',
 'search_click (1).csv',
 'w_restaurant (1).csv',
 'search_request (1).csv',
 'metadata (1).xlsx']

In [42]:
request = os.path.join(base_path, 'search_request (1).csv')
click = os.path.join(base_path, 'search_click (1).csv')
restaurant = os.path.join(base_path, 'w_restaurant (1).csv')

In [43]:
request_name = pd.read_csv(request)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
click_name = pd.read_csv(click)

In [45]:
restaurant_name = pd.read_csv(restaurant)

In [46]:
request_name

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [47]:
request_re = request_name.iloc[:,1:3]

In [48]:
request_re

                                     search_id         search_timestamp
0         683de889-f923-494e-9d46-44a3d67b7259  2018-06-14 12:34:35.449
1         4a811230-ffa4-4631-a4c8-5d0394137d02  2018-06-14 17:11:19.469
2         7ad6ee8e-438e-4bea-9183-74dcef9e358e  2018-06-14 13:22:31.736
3         0c17a5f5-fa89-40f4-ae94-a8659268f827  2018-06-02 12:37:27.331
4         6870dc3a-5602-44fc-80ed-df0a7783df9d  2018-06-02 11:19:22.404
...                                        ...                      ...
10004352  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  2018-06-24 09:23:57.777
10004353  66cc94db-217a-4d8e-aa20-b1d10e17c968  2018-06-24 17:03:39.908
10004354  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  2018-06-24 19:17:55.797
10004355  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  2018-06-24 16:53:06.067
10004356  48421ba4-8c69-46a5-aa05-425ddc82a09a  2018-06-24 18:06:58.441

[10004357 rows x 2 columns]

In [ ]:
click_re = click_name.iloc[:,0:4]

In [ ]:
click_re

In [ ]:
restaurant_re = restaurant_name.iloc[:,0:4]

In [ ]:
merged_table = request_name.merge(click_name,how='left',left_on='search_id',right_on='search_id')
merged_table