<a href="https://colab.research.google.com/github/Nutsudapenpong/DPDM/blob/master/Pandas_and_Data_Preprocessing_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![8cbd1f6957397844e72a3850208a8210.jpg]()

In [1]:
import pandas

In [2]:
# connect with google drive
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

In [4]:
import os

In [5]:
search_click = os.path.join(path, 'search_click.csv')
w_restaurant = os.path.join(path, 'w_restaurant.csv')

In [6]:
#  pandas  environment
search_click_df = pandas.read_csv(search_click)

In [7]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [8]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2            2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5              4  ...               NaN          NaN      NaN
3   6              1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [9]:
#  
search_click_df.shape #

(1048575, 6)

In [10]:
w_restaurant_df.shape

(246847, 32)

In [11]:
search_click_df.shape[0] #     feature

1048575

In [12]:
# 0.

Normal indexing

In [13]:
search_click_df['search_id'] #

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [14]:
search_click_df['search_id'][0] #

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [15]:
w_restaurant_df[['name', 'city_name', 'weighted_average_rating']] #

                                        name  ... weighted_average_rating
0                             ...                5.000000
1                               Corner House  ...                2.000000
2                               ...                4.000000
3                               ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                        ...                0.000000
246844                      &  ...                4.000000
246845                              Mom Made  ...                5.000000
246846     ...                3.000000

[246847 rows x 3 columns]

In [16]:
search_click_df.iloc[0,1] #

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [17]:
search_click_df.iloc[:10,:2] # 10   2

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

1.Missing Values

In [18]:
search_click_df.isnull() # Missing value  True NAN NA   Missing value

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [19]:
 #  or   and  .all()search_click_df.isnull().any()

In [20]:
search_click_df.isnull().any().any() #or  search_click_df.isnull().any()

True

Handling missing values 1

In [21]:
#  Missing 
search_click_df_nm = search_click_df.dropna()

In [22]:
search_click_df_nm.isnull().any().any() #  Missing

False

In [23]:
print(search_click_df.shape)  #
print(search_click_df_nm.shape) # Missing

(1048575, 6)
(1048206, 6)

In [24]:
search_click_df.shape[0] - search_click_df_nm.shape[0] #

369

Excercise 1   missing 
 w_restaurant  %

In [25]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [26]:
((w_restaurant_df.shape[0] - w_restaurant_df_nm.shape[0] )*100)/w_restaurant_df.shape[0] #

99.99837956304917

In [27]:
w_restaurant_df.isnull().any() # missing

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [28]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price']).shape #drop

(4572, 32)

In [29]:
w_rest_dropped_avgprice = w_restaurant_df.dropna(subset=['id', 'name', 'avg_price']) 
w_rest_dropped_avgprice

            id                         name  ...  pet_friendly  delivery
11          27                ...           NaN       NaN
67         123                    ...           NaN       NaN
91         175                   ...           NaN       NaN
129        262  Oniku Shabushabu & Yakiniku  ...           NaN       1.0
134        271                     Cafe Cha  ...           NaN       NaN
...        ...                          ...  ...           ...       ...
246472  339464                  The Andaman  ...           NaN       NaN
246508  339506     ZEN Japanese Restaurant   ...           NaN       NaN
246660  339686                    ...           NaN       NaN
246666  339692                     ...           NaN       1.0
246721  339785                  Abelle cafe  ...           NaN       NaN

[4572 rows x 32 columns]

In [30]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price'])['avg_price'].mean()  #

327.44728783902013

Method 2 (replace with reasonable value)

 number of chain  0

In [31]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0) #

In [32]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

Method 2.1 (replace with unknown value)

In [33]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna('unknown')

In [34]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

Method 2.2 (replace with mean)

Method 3

In [35]:
new_table = w_restaurant_df[['name', 'city_name', 'avg_price']]
new_table

                                        name  ... avg_price
0                             ...       NaN
1                               Corner House  ...       NaN
2                               ...       NaN
3                               ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                        ...       NaN
246844                      &  ...       NaN
246845                              Mom Made  ...       NaN
246846     ...       NaN

[246847 rows x 3 columns]

In [36]:
# [PD] select data
selected_list = new_table['city_name'] == 'Bangkok Metropolitan Region' #
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [37]:
new_table[selected_list].head() # index

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3     Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

In [38]:
new_table[new_table['city_name'] == 'Bangkok Metropolitan Region'] #

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3            Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835       Bangkok Metropolitan Region        NaN
246840         Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843     Bangkok Metropolitan Region        NaN
246844   &  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [39]:
new_table[new_table['city_name'] == 'Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

392.5854715094968

1.

In [43]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3     Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

2.  Missing

In [44]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                     Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

3. column 'avg_price'

In [45]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4.

In [46]:
bkk_table_dp_avg_price.mean()

392.5854715094968

 missing method 3

In [47]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3     Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [48]:

#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

   missing

In [40]:
bkk_table = new_table[new_table['city_name']=='Phuket']
bkk_table

                                 name city_name  avg_price
53                   Phuket        NaN
74                    Phuket        NaN
91                           Phuket       50.0
96                      Phuket        NaN
190                            Phuket        NaN
...                               ...       ...        ...
246688                   Phuket        NaN
246707       Phuket        NaN
246746             Phuket        NaN
246759                  Outing Ground    Phuket        NaN
246784                              Phuket        NaN

[6222 rows x 3 columns]

In [41]:
bkk_table_dropped = new_table[new_table['city_name']=='Phuket'].dropna()
bkk_table_dropped

                             name city_name  avg_price
91                       Phuket       50.0
470              Ang Ku Tea House    Phuket      175.0
1552                       Phuket      175.0
1779                   Phuket       50.0
2080                     Phuket      375.0
...                           ...       ...        ...
244655                   Phuket       50.0
245848      Phuket       50.0
245935                 T-din Cafe    Phuket       50.0
246093                      House    Phuket       50.0
246660                    Phuket       50.0

[378 rows x 3 columns]

In [42]:
bkk_table_dropped_avrprice = new_table[new_table['city_name']=='Phuket'].dropna()['avg_price'].mean()
bkk_table_dropped_avrprice 
#

181.4814814814815

In [50]:
pk_table = new_table[new_table['city_name']=='Phuket']
pk_table[['avg_price']] = pk_table[['avg_price']].fillna(new_table[new_table['city_name']=='Phuket'].dropna()['avg_price'].mean())
pk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                     name city_name   avg_price
53       Phuket  181.481481
74        Phuket  181.481481
91               Phuket   50.000000
96          Phuket  181.481481
190                Phuket  181.481481

In [51]:
ch_table = new_table[new_table['city_name']=='Chon Buri']
ch_table[['avg_price']] = ch_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chon Buri'].dropna()['avg_price'].mean())
ch_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           name  city_name   avg_price
5                     Chon Buri  283.547619
15  The Rabbit   Chon Buri  283.547619
42        .  Chon Buri  283.547619
45    Chon Buri  283.547619
68          Oldies Bar & Bistro  Chon Buri  283.547619

[PD]  Y ( data) pd.concat

In [52]:
pandas.concat([bkk_table,pk_table,ch_table]).isnull().any()

name         False
city_name    False
avg_price    False
dtype: bool

Looping (concat)
1.

In [53]:
all_cities = set(new_table['city_name'])
print(len(all_cities))
#all_cities

479

2.  mean  column 'city_name' 
 missing

In [54]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

327.44728783902013


3.  list

In [55]:
all_cities_list = []
for each_city in sorted(list(all_cities)):
    temp_table = new_table[new_table['city_name']==each_city]
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [56]:
no_missing = pandas.concat(all_cities_list).fillna(all_mean)
no_missing.head()

                                name  city_name   avg_price
56391   Smoking Doll Nation Galleria  Abu Dhabi  327.447288
67914        PRET TO GO (Terminal 1)  Abu Dhabi  327.447288
123536                     Keway Mai  Abu Dhabi  327.447288
142972                    La Brioche  Abu Dhabi  327.447288
223144               White Dot Table  Abu Dhabi  327.447288

In [57]:
index_list = no_missing['avg_price']>1000
no_missing[index_list]

                                         name  ... avg_price
247                        Masterpiece clinic  ...    1500.0
3022             J'AIME by Jean-Michel Lorain  ...    1500.0
4798                              Xin Tian Di  ...    1500.0
5804          P10 Clinic ( Surgery Cosmetic )  ...    1500.0
7186                         THYME Eatery&Bar  ...    1500.0
...                                       ...  ...       ...
62474                                   Acqua  ...    1500.0
160729        Haven Love Cake By Love Andaman  ...    1500.0
221495  Panache (Angsana Villa Reaort Phuket)  ...    1500.0
57063       Jahn restaurant @Conrad Koh samui  ...    1500.0
203721           WOO BAR  W Retreat Koh Samui  ...    1500.0

[185 rows x 3 columns]

Smooth data (binning)

HW10  Binning smooth by mean  'avg_price'  no_missing (bins = 50)

Remove Outlier (boxplot)

Deduplication (sampling vs PCA)

Data Integration (combine 2 tables vs copy some columns from another table)